body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: white;
    height: 100dvh;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: rgba(0, 64, 0, 255);
    color: white;
    height: 100vh;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    overflow-y: visible;
    scrollbar-width: none;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: transform 0.3s ease;
    margin-bottom: auto;
}

.sidebar.hidden {
    transform: translateX(-100%); /* La mueve a la izquierda fuera de la vista */
}

.sidebar-toggle-button {
    position: absolute;
    bottom: 10px;
    right: -70px;
    width: 60px;
    height: 60px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1051;
    background-image: url('../imagenes/sidebar-collapse.png');
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background: white;
    height: 100px;
}

.sidebar-header span {
    color: black;
}

.management-header {
    position: sticky;
    top: 0;
    display: flex;
    background-color: rgba(240, 240, 240, 255);
    height: 100px;
    align-items: center;
    padding: 0px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

.header-logo {
    margin-right: auto;
    height: 100%;
    mask-image: linear-gradient(to right, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%);
}

.actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    padding: 50px;
    margin-left: auto;
}

.page-name
{
    margin-left: 50px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.profile-name {
    display: flex;
    flex-direction: column;
}

.profile-bubble {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: green;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.profile-initials {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.notification-bell {
    width: 30px;
}

.input-group-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 400px;
    height: 50px;
}

.input-group-text input {
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: none;
}

.input-group-text input:focus {
    outline: none;
}

.search-icon-container {
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(222, 226, 230, 255);
    padding: 0px;
    width: 30px;
    height: 100%;
    margin-right: 10px;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.logout-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.logout-container button:hover {
    background-color: green;
}

.logout-container button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    margin-left: 0px;
    color: white;
    transition: all 0.3s ease;
}

.logout-form {
    width: 200px;
    height: 100px;
    border-top: 1px solid rgba(222, 255, 230, 255);
    padding: 20px;
}

.github-logo {
    width: 48px;
    height: 48px;
    transition: transform 0.2s ease;
}

.github-logo:hover {
    transform: scale(1.1);
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-right: 10px;
}

.org-name {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}

hr {
    border: 0;
    height: 1px;
    background-color: #7f8c8d;
    margin: 10px 0;
}

.modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(0.75, 0.75, 0.75, 0.5);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.modal-background.open {
    opacity: 1;
    pointer-events: all;
}

.modal-container {
    position: relative;
    width: 500px;
    height: 250px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.modal-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.modal-text p {
    margin: 0;
    margin-top: 10px;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
}

.modal-close-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.modal-buttons button {
}

.nav-links {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 0;
    transition: background 0.3s;
    border-radius: 8px;
    transition: padding 0.3s ease;
    margin-bottom: 8px;
}

.nav-links a:hover {
    background-color: green;
    padding: 8px 8px;
    display: block;
    transition: all 0.3s ease;
}

.nav-links a.active {
    background-color: #16a085;
    padding: 10px 16px;
    display: block;
    transition: all 0.3s ease;
}

.main-content
{
    width: 100%;
    height: 100%;
}

.stylized-button {
    border-radius: 5px;
    background-color: forestgreen;
    padding: 10px;
}

.stylized-button button {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
}